@import url('https://fonts.googleapis.com/css?family=Hind+Madurai|Volkhov');
html {
    background-color: rgb(229, 229, 229);
}

#nav {
    background-color: #F2B32A;
    height: 5em;
    margin: 0;
}

#inputTitle {
    background-color: white;
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
    box-shadow: 1px 2px grey;
}

#titleInputBox {
    text-align: left;
    margin: auto;
    font-size: 20px;
    color: black;
    width: 50%;
    background: transparent;
    border: none;
    /* border-bottom: 1px solid #000000; */
}

#todoItem {
    font-size: 30px;
    text-align: left;
    /* margin: auto; */
    margin-top: 10px;
    width: 70%;
    background: transparent;
    border: none;
}

.modeButton {
    padding: 10px;
}

[contentEditable=true]:empty:not(:focus):before {
    content: attr(data-text)
}

[contentEditable=true] {
    outline: 0px solid transparent;
}

.note {
    padding: 10px;
}

#note {
    display: block;
    /* border: solid 1px #000; */
    min-height: 200px;
    width: 100%;
}

#todoItem::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: lightgray;
    opacity: 1;
    /* Firefox */
}

.modeButton {
    border: none;
    background: transparent;
}

#title {
    margin: auto;
}

#noteTextArea {
    resize: none;
    font-size: 10px;
    width: 50%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
}

#container {
    text-align: center;
    margin: 20px;
}

ul {
    list-style: none;
    padding-left: 10px;
}

.strikethrough {
    text-decoration: line-through;
}

li:before {
    content: "+ ";
    margin-right: 10px;
    color: black;
}

.toDoBlockContainer {
    margin: 10px;
    border-radius: 2px;
    width: 35%;
    display: inline-block;
    background-color: white;
}

.toDoBlockContainer>h3 {
    margin-left: 5px;
}

.noteTitle {
    font-family: 'Hind Madurai', sans-serif;
    font-size: 15px;
    padding: 10px;
}

.noteBody {
    font-family: 'Volkhov', serif;
    font-size: 20px;
    padding: 10px;
}

.noteBlock {
    align-self: flex-start;
    margin: 10px;
    background-color: white;
    width: 15%;
    min-width: 200px;
    height: 0%;
    display: inline-block;
    box-shadow: 1px 2px grey;
    text-align: left;
}

.noteBlock:hover {
    background-color: lightgray;
}

.deleteButton {
    margin: 5px;
}

#itemContainter {
    margin: auto;
    width: 75%;
    height: 100%;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.loginInput {
    margin: 5px;
}

.menu {
    background-color: black;
}

#closeButton {
    float: right;
}

#todoBlock {
    width: 15%;
    min-width: 200px;
    text-align: left;
    padding: 10px;
}

.listBlock:hover {
    background-color: lightgray;
}

.input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: lightgrey;
    opacity: 1;
    /* Firefox */
}

#inputContainer {
    text-align: left;
}

/* -------------Test---------------- */

/*
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    min-height: 100%;
}

body {
    height: 100%;
    margin: 20px;
    color: #435757;
    font: 500 1.2em/1.2 'Roboto', sans-serif;
}

.container {
    max-width: 450px;
    border-top: 5px solid #435757;
    background-color: rgba(255, 255, 255, .2);
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    user-select: none;
}

h1 {
    margin: 0;
    padding: 20px;
    background-color: rgba(255, 255, 255, .4);
    font-size: 1.8em;
    text-align: center;
}

.items {
    display: flex;
    flex-direction: column;
    padding: 7px;
    counter-reset: done-items undone-items;
}

h2 {
    position: relative;
    margin: 0 30px 0 30px;
    padding: 10px 0;
    font-size: 1.2em;
}

h2::before {
    content: '';
    display: block;
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: -20px;
    width: 5px;
    background-color: #435757;
}

h2::after {
    display: block;
    float: right;
    font-weight: normal;
}

.done {
    order: 1;
}

.done::after {
    content: ' (' counter(done-items) ')';
}

.undone {
    order: 3;
}

.undone::after {
    content: ' (' counter(undone-items) ')';
}
*/

/* hide inputs offscreen, but at the same vertical positions as the correpsonding labels, so that tabbing scrolls the viewport as expected */

/*
input {
    display: block;
    height: 53px;
    margin: 0 0 -53px -9999px;
    order: 4;
    outline: none;
    counter-increment: undone-items;
}

input:checked {
    order: 2;
    counter-increment: done-items;
}

.auth-button {
    margin: 0;
    padding: 0;
}

label {
    display: block;
    position: relative;
    padding: 15px 0 15px 45px;
    border-top: 1px dashed #fff;
    order: 4;
    cursor: pointer;
    animation: undone .5s;
}

label::before {
    content: '\f10c';
    circle outline
    display: block;
    position: absolute;
    top: 11px;
    left: 10px;
    font: 1.5em 'FontAwesome';
}

label:hover,
input:focus+label {
    background-color: rgba(255, 255, 255, .2);
}

input:checked+label {
    order: 2;
    animation: done .5s;
}

input:checked+label::before {
    content: '\f058';
    circle checkmark
}

@keyframes done {
    0% {
        opacity: 0;
        background-color: rgba(255, 255, 255, .4);
        transform: translateY(20px);
    }
    50% {
        opacity: 1;
        background-color: rgba(255, 255, 255, .4);
    }
}

@keyframes undone {
    0% {
        opacity: 0;
        background-color: rgba(255, 255, 255, .4);
        transform: translateY(-20px);
    }
    50% {
        opacity: 1;
        background-color: rgba(255, 255, 255, .4);
    }
}
*/